.form {
  display: flex;
  flex-direction: column;
  width: 35vh;
}

.button {
  width: 100%;
  background: #6979F8;
  border-radius: 6px;
  height: 6vh;
  text-transform: uppercase;
  color: #fff;
  border: none;
  font-family: 'Exo';
}

.button:hover {
  background: #5761ce;
  cursor: pointer;
}

.input {
  height: 1vh;
  margin-bottom: 3vh;
  padding: 2vh;
  border-radius: 6px;
  border: none;
  font-family: 'Exo';
}

.form_link {
  color: #6979F8;
  text-decoration: none;
  text-align: center;
  margin-top: 1vh;
}
