.Form {
  display: flex;
  flex-direction: column;
  width: 35vh;
}

.Button {
  width: 100%;
  background: #6979F8;
  border-radius: 6px;
  height: 6vh;
  text-transform: uppercase;
  color: #fff;
  border: none;
  font-family: 'Exo';
}

.Button:hover {
  background: #5761ce;
  cursor: pointer;
}

.Form input {
  height: 1vh;
  margin-bottom: 3vh;
  padding: 2vh;
  border-radius: 6px;
  border: none;
  font-family: 'Exo';
}

.Form input:nth-last-of-type(1) {
  margin-bottom: 0;
}

.Link {
  color: #6979F8;
  text-decoration: none;
  text-align: center;
  margin-top: 1vh;
}

.PasswordInfo {
  color: black;
  font-size: 0.6rem;
  margin-bottom: 1vh;
}
