.RightLetter {
  color: rgba(0, 166, 17, 0.55);
}

.WrongLetter {
  color: rgba(222, 40, 40, 0.69);
}

.WrongAnswer {
  background-color: #D5F2EA;
  border: 1px solid black;
}

.SubmitBtn {
  margin: 10px 0;
  background: #0AD1BD;
  border: #0AD1BD;
}

.SubmitBtn:hover,
.SubmitBtn:focus,
.SubmitBtn:active {
  transform: scale(1.1);
  background: #0AD1BD;
  border: #0AD1BD;
}
