@font-face {
  font-family: "Exo";
  src: url('/../assets/fonts/Exo-BlackItalic.ttf');
 }

.Wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Exo', sans-serif;
  align-items: center;
  flex-direction: column;
}

.AboutHeader {
  font-family: 'Exo', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #784AC1;
  margin-bottom: 20px;
}

.AboutTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -1.5px;
  margin-bottom: 15px;
}

.Main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

@media (max-width: 450px) {
  .AboutHeader {
    font-size: 16px;
    margin: 0;
  }

  .AboutTitle {
    font-size: 30px;
  }
}
