.Table {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.Header {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.54);
}

/* Каждая строка */

.Table > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 15px 0;
  border-bottom: 2px solid #ECEBED;
}

/* Каждый столбец */

.Table > div > div {
  display: flex;
  justify-content: space-evenly;
  width: 12%
}

/* Первый столбец в каждой строке (место нахождения слов и перевода) */

.Table > div > div:nth-child(1) {
  width: 40%;
  display: flex;
  justify-content: flex-start;
}

.Table label {
  display: flex;
  height: 100%;
  width: 10%;
  min-width: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 5% 0 0;
}

.ShowWordsButton {
  margin: 20px auto;
  width: 20%;
  border: 1px solid #c291df !important;
}

@media (max-width: 768px) {
  .Table {
    width: 90%;
  }
  
  .Table > div {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 15px 0;
    border-bottom: 2px solid #ECEBED;
  }

  .Table > div > div:nth-child(-n+4):not(:nth-child(1)):not(:nth-last-child(-n+2)) {
    display:none;
  }

  .Table > div > div:nth-child(1) {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  
  .Table > div > div {
    width: auto ;
  }

  .ShowWordsButton {
    width: 80%;
  }
}
