.logo {
  color: #6979F8 !important;
  font: normal 50px 'Exo', sans-serif !important;
}

.enter_btn {
  background: #0AD1BD;
  border: #0AD1BD;
  color: white;
  width: 178px;
  height: 48px;
  margin: 7px 0 7px 0;
}

.enter_btn:hover,
.enter_btn:focus,
.enter_btn:active {
  background: #08A999;
  border: #08A999;
}

@media (max-width: 991px) {
  .logo {
    font: normal 30px 'Exo', sans-serif !important;
  }
}


.navbar_promo {
  border-color: transparent !important;
}

.navbar_promo:hover,
.navbar_promo:focus,
.navbar_promo:active {
  outline: none;
}
