/*@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');*/

.logo {
	color: #6979F8 !important;
	font: normal 50px 'Exo', sans-serif !important;
}

.enter_btn {
	background: green;
	border: green;
	color: white;
	width: 178px;
	height: 48px;
	margin: 7px 0 7px 0;
}


@media (max-width: 991px) {
	.logo {
		font: normal 30px 'Exo', sans-serif !important;
	}
}
