.Carousel {
  height: 30vh;
  background-color: black;
  
}

.Carousel > div {
  height: 100%;
  display: flex;
  align-items: center;
}

.CarouselItem {
  width: 80%;
  margin: 0 auto;
  height: 80%;
}
