.Word {
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.Word div {
  width: 20%;
  margin-right: 5%;
} 

.TableItem img {
  cursor: pointer;
}

.Card {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  width: 100% !important;
  background-color: rgba(0,0,0,0.5);
}

.TableItem .WordInfo {
  width: 60% ; 
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .TableItem .WordInfo {
    flex-direction: column;
  }
}
