.interval_text {
  font-family: 'Exo',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
padding: 10px;
}

.interval_row {
  padding: 20px;
}

.sfdasd {}
