.Dictionary {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}


.Button {
  border-radius: 5px !important;
  transition: all 0.5s ease-in-out !important;
  padding:0;
  color:black;
}

.Button:hover {
  background: linear-gradient(199.65deg, #e8c3fd 0%, #c6aaff 100%);
  color: white !important;
  transition: all 0.5s ease-in-out !important;
}

.Button:focus {
  background: linear-gradient(199.65deg, #BD7AE3 0%, #8461C9 100%);
  color: white !important;
  transition: all 0.5s ease-in-out !important;
  box-shadow: none !important;
}
