@font-face {
  font-family: 'Exo';
  src        : url('/public/assets/fonts/Exo/static/Exo-Regular.ttf');
  font-weight: normal;
}

.Wrapper {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  height          : 100vh;
  background-image: url('/public/assets/images/memory/BackMemory.svg');
}

.Wrapper h1 {
  font-style : normal;
  font-weight: normal;
  font-size  : 50px;
  text-align : center;
  color      : #6979F8;
}

.Wrapper p {
  font-style : normal;
  font-weight: normal;
  font-size  : 20px;
  line-height: 40px;
  text-align : center;
  color      : #000000;
  margin     : 0;
}

.Button {
  font-family     : Exo, sans-serif;
  width           : 175px;
  height          : 48px;
  color           : white;
  border          : none;
  border-radius   : 6px;
  font-style      : normal;
  font-weight     : bold;
  font-size       : 17px;
  line-height     : 22px;
  margin-top      : 45px;
  background-color: #0AD1BD;
}

.Button:hover {
  background: #08A999;
  cursor    : pointer;
}

.Wrapper img {
  position: absolute;
  top     : 20px;
  right   : 30px;
}

.cross:hover {
  cursor: pointer;
}

.Button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .Wrapper img {
    top  : 70px;
    right: 30px;
  }
}
