.Carousel {
  height: 80%;
}

.Carousel > a {
  width: auto;
}

.Carousel > div {
  height: 100%;
  display: flex;
  align-items: center;
}

.CarouselItem {
  margin: 0 auto;
  height: 100%;
}

.LeftArrow {
  background-image: url('/assets/images/cards/leftArrow.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 44px;
  margin: 5px;
}

.RightArrow {
  background-image: url('/assets/images/cards/rightArrow.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 44px;
  margin: 5px;
}
