.Auth {
  background-color: #FAFAFA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  margin: 0 auto;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  transform: scale(0.7);
}

.close:hover {
  cursor: pointer;
}

.Form {
  display: flex;
  flex-direction: column;
}

.Button {
  width: 240px;
  height: 48px;
  background: #6979F8;
  border-radius: 6px;
  color: #fff;
  border: none;
  font-family: 'Exo', sans-serif;
  margin-top: 3vh;
  outline: none;
}

.Button:hover {
  background: #5761ce;
  cursor: pointer;
  outline: none;
}

.Form input {
  width: 240px;
  height: 48px;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  font-family: 'Exo', sans-serif;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.Form input:nth-last-of-type(1) {
  margin-bottom: 0;
}

.Link {
  color: #6979F8;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
}

.Link:hover {
  color: #5761ce;
  text-decoration: none;
}

.PasswordInfo {
  color: black;
  font-size: 0.5rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -10px;
  width: 240px;
}

.Form_link {
  color: #6979F8;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  width: 240px;
  height: 48px;
}

@media (max-width: 630px) {
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: scale(0.7);
  }
}
