.Container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Container div {
}

.Navigation {
  display: flex;
  justify-content: flex-end;
}

.Navigation div {
  padding: 25px;
}
