.Progress {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #00C48C;
  font-family: Exo,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 13px;
  border-radius: 4px;
}

.ProgressBar {
  width: 80%;
  background: #D5F2EA;
}
