.Settings {
  display: flex;
  flex-direction: column;
  height: 94%;
  width: calc(94% - 99px);
  margin: 3vh 3vw;
  padding: 3%;
  margin-left: calc(99px + 3%);
  border-radius: 30px;
  background-color: #ECE9F1;
  overflow: scroll;
}

.Settings div {
  margin: 10px 0;
}

.Settings h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
}

.CardsAmountForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardsAmountForm label {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 40%;
  max-width: 400px;
  margin: 0 20px;
  height: 80px;
}

.CardsAmountForm input {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.36);
  border-bottom: 1px solid rgba(0, 0, 0, 0.36);;
}

.CardsAmountForm input:focus {
  color: black;
  outline: none;
}

.CheckboxContainer {
  display: flex;
  position: relative;
  margin: 10px 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Убрать дефолтный инпут */
.CheckboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Создать кастомный чекбокс*/
.Checkmark {
  display: block;
  height: 25px;
  width: 25px;
  margin: 0 20px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ECEBED;
  position: relative;
}

/* При нажатии добавлять бэкграунд галочки*/
.CheckboxContainer input:checked ~ .Checkmark:before {
  content: '✓';
  position: absolute;
  top: -5%;
  left: 18%;
  color: #6979F8;
  font-weight: 700;
  font-size: 1rem;
}

.CardsDisplaySettings {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr); 
  align-items: flex-start;
  justify-content: center;
}

.CardsDisplaySettings div {
  display: flex;
  flex-direction: column;
}

.Intervals {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.Intervals div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 45px;
  margin: 0 25px;
  border-radius: 16px;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

.Intervals input {
  text-align: right;
  width: 45px;
  height: 45px;
  border: none;
  color: rgba(0, 0, 0, 0.54);
}

.Intervals input:focus {
  color: black;
}

.CardsInteractions {
  display: flex;
  justify-content: center;
  text-align: center;
}

.CardsInteractions div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  margin: 10px;
}

.Switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The Slider */
.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.Slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .Slider:before {
  background: linear-gradient(225deg, #BD7AE3 0%, #8461C9 100%);
}

input:focus + .Slider {
  box-shadow: 0 0 1px #BD7AE3;
}

input:checked + .Slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.FormControls {
  display: flex;
  justify-content: center;
}

.SubmitButton {
  background: #6979F8;
  border: none;
}

.OutlineButton {
  color: #6979F8;
  border-color: #6979F8;
  position: relative;
}

.FormControls button {
  width: 20%;
  height: 50px;
  margin: 0 20px;
}

.FormControls button:hover,
.FormControls button:active,
.FormControls button:focus {
  background-color: #7348BF !important;
  border: none !important;
  color: white;
}



@media (max-width: 768px) {
  .Settings {
    width: 90%;
    height: 100%;
    margin: 5%;
    padding: 10px;
    font-size: 0.8rem;

  }

  .Settings  div {
    margin: 20px 0;
  }

  .Settings h2 {
    font-size: 1rem;
  }

  .Intervals div {
    margin: 0 25px;
  }

  .CardsDisplaySettings {
  grid-template: repeat(3, 1fr) / 1fr;
  }

  .FormControls button {
    font-size: 0;
  }

  .SubmitButton:before {
    content: '✓';
    font-size: 1rem;
  }

  .OutlineButton:before {
    content: '×';
    position: absolute;
    top: -3%;
    left: 34%;
    font-size: 2rem;
  }
}
