.bgColor {
  background: #fafafa;
  margin-left: 100px;
}

.Container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.Container div {
  overflow: visible;
}

.EmptyCards {
  background: #fafafa;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .bgColor {
    margin-left: 0;
  }

  .Container {
    width: 100%;
    height: calc(100vh - 50px);
  }
}
