.bgColor {
  background: #fafafa;
}

.AnsweredWord {
  background: #D5F2EA;
  border-radius: 4px;
  border: transparent;
  padding: 0 4px;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  overflow: visible;
}

.Card {
  border-radius: 12px;
  width: 80%;
  border: transparent;
  box-shadow: 0 7px 64px rgba(0, 0, 0, 0.05);
}

.Header, .card-header {
  border-bottom: transparent;
  background: linear-gradient(195.78deg, #CDDDF4 3.26%, #CDBAFA 100%);
  padding: 7px 16px 7px 0;
  border-radius: 12px 12px 0 0 !important;
}

.Body {
  overflow: scroll;
  background: linear-gradient(195.78deg, #CDDDF4 3.26%, #CDBAFA 100%);
  border-radius: 0;
  padding: 10px 16px;
}

.Body p {
  font-size: 18px;
  font-family: Exo, sans-serif;
  padding-bottom: 10px;
  margin: 0;
}

.Body p input {
  background: #D5F2EA;
  border-radius: 4px;
  border: 0;
  outline: none;
  font-size: 18px;
  font-family: Exo, sans-serif;
  padding: 0 0 0 4px;
}

.Body p input:hover {
  outline: none;
  padding: 1px;
}

.Speaker {
  display: block;
  outline: none;
  text-align: right;
}

.Footer, .card-footer {
  background-color: white !important;
  border-radius: 0 0 12px 12px !important;
  padding: 10px 16px 10px;
}

.Footer p {
  margin-bottom: 0;
}

.TranslatedWord {
  padding: 0;
  font-size: 18px;
  color: #000000c7;
}

.Interval_hr {
  border-top: 1px solid #784AC1;
  padding: 0;
  margin: 0;
}

p.translated_sentence {
  padding: 10px 0 0 0;
}

@media (max-width: 767px) {
  .Container {
    width: 100%;
    margin-top: 50px;
  }

  .Body p {
    font-size: 18px;
    height: 70px;
  }

  .Body p input {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .Container {
    margin-top: 50px;
  }

  .Card {
    width: 95%;
  }

  .Body {
    padding: 0.7rem;
  }

  .Body p {
    height: 80px;
  }

  .Interval_hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
