.GameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 960px;
  margin: 0 auto;
}

.Level {
  height: 30px;
  margin: 20px;
}

.Lives {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CardBlock {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cornsilk;
  margin-bottom: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./lesBack.jpg');
}

.image { 
  width: 100%;
  height: 100%;
  position: relative;
}

.cardEng, .cardRus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* position: absolute; */
}

.cardRus {
  margin-top: 20px;
}
