.GameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Level {
  width: 10%;
  margin: 20px;
}

.Lives {
  display: flex;
  width: 10%;
  margin: 20px;
}

.CardBlock {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  /* background-image: url('public/assets/images/memory/lesBack.jpg'); */
  background-color: cornsilk;
  margin-bottom: 50px;
}

.cardEng, .cardRus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cardRus {
  margin-top: 20px;
}
