@font-face {
  font-family: 'Exo';
  src        :
    url('/assets/fonts/Exo-SemiBoldItalic.ttf') format('truetype');
  font-weight : 600;
  font-style  : italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src        :
    url('/assets/fonts/Exo-ThinItalic.ttf') format('truetype');
  font-weight : 100;
  font-style  : italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src        :
    url('/assets/fonts/Exo-Medium.ttf') format('truetype');
  font-weight : 500;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src        :
    url('/assets/fonts/Exo-Italic.ttf') format('truetype');
  font-weight : normal;
  font-style  : italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src        :
    url('/assets/fonts/Exo-Thin.ttf') format('truetype');
  font-weight : 100;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src        :
    url('/assets/fonts/Exo-LightItalic.ttf') format('truetype');
  font-weight : 300;
  font-style  : italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src        :
    url('/assets/fonts/Exo-Regular.ttf') format('truetype');
  font-weight : normal;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src        :
    url('/assets/fonts/Exo-MediumItalic.ttf') format('truetype');
  font-weight : 500;
  font-style  : italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src        :
    url('/assets/fonts/Exo-BoldItalic.ttf') format('truetype');
  font-weight : bold;
  font-style  : italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src        :
    url('/assets/fonts/Exo-Black.ttf') format('truetype');
  font-weight : 900;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src        :
    url('/assets/fonts/Exo-ExtraLightItalic.ttf') format('truetype');
  font-weight : 200;
  font-style  : italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src        :
    url('/assets/fonts/Exo-ExtraLight.ttf') format('truetype');
  font-weight : 200;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src        :
    url('/assets/fonts/Exo-SemiBold.ttf') format('truetype');
  font-weight : 600;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src        :
    url('/assets/fonts/Exo-Bold.ttf') format('truetype');
  font-weight : bold;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src        :
    url('/assets/fonts/Exo-ExtraBold.ttf') format('truetype');
  font-weight : 800;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src        :
    url('/assets/fonts/Exo-ExtraBoldItalic.ttf') format('truetype');
  font-weight : 800;
  font-style  : italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src        :
    url('/assets/fonts/Exo-Light.ttf') format('truetype');
  font-weight : 300;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src        :
    url('/assets/fonts/Exo-BlackItalic.ttf') format('truetype');
  font-weight : 900;
  font-style  : italic;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Exo', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html,
body,
#root {
  height: 100%;
  width : 100%;
}
