.BlackScreen {
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.PopUp {
  z-index: 50;
  width: 80%;
  width: 745px;
  height: 485px;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Top {
  width: 100%;
  height: 70%;
  color: #000;
  border-radius: 12px 12px 0 0;
  text-align: center;
}

.content {
  align-items: center;
  font-family: Exo;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
}

.Bottom {
  width: 100%;
  height: 30%;
  background-color: #fff;
  color: #6979F8;
  text-align: center;
  margin: auto;
  border-radius: 0 0 12px 12px;
  font-size: 24px;
}

.success {
  background: #7DDFC3;
}

.error {
  background: #FDAFBB;
}

.warning {
  background: #EEDFF2;
}

@media (max-width: 1100px) {
  .PopUp {
    width: 645px;
    height: 485px;
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .PopUp {
    width: 80%;
    min-width: 300px;
    margin-left: 0;
    margin-top: 20px;
  }
  .Bottom {
    font-size: 15px;
  }
}
